#donationAmounts {
    margin: 0 auto;
}

.amounts {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.amount {
    /* max-width: 496px !important; */
    display: inline-block;
    width: 23%;
    max-width: 25rem;
    vertical-align: top;

}

.example.example4 {
    background-color: none !important;
}

.donate-btn {
    padding: .4rem;
    min-width: 4.5rem;
    border: 2px solid #29a0cc;
    background: white;
    border-radius: 6px;
}

.donate-btn:hover,
.donate-btn:active {
    outline: none;
    background: #29a0cc;
    color: white;
    opacity: .8;
}

.amount-desc {
    text-align: center;
}

#example-4 {
    background-color: none !important;
}


.example.example4 button {
    border-radius: 6px;
    background: #29a0cc;
    border-color: #29a0cc;
}

/* #header-container-area{
   display:none;
} */

#card-holder-name {
    display: inherit;
    color: #32325D;
    font-family: Inter UI, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: 36;
    padding: .5rem;
}

#spacer {
    height: 1px;
    background: #efefef;
    width: 89%;
    left: 43px;
    position: relative;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #dfdede !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #efefef !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #efefef !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #efefef !important;
}

.example.example4 form {
    max-width: 100% !important;
    padding: 0 15px;
}

#form-title {
    font-size: 3rem;
    color: #2b5488;
}

#informational-text {
    color: #798490;
}

.example.example4 {
    background: none !important;
}

#form-title {
    font-size: 3rem;
    color: #2b5488;
}

@media (min-width: 40rem) {
    #example {
        background: none;
    }

    .example.example4 {
        position: relative;
        top: 50;
    }

    .amounts {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #donationAmounts {
        width: 100%;
    }

    .amount {
        /* max-width: 496px !important; */
        display: inline-block;
        width: 20%;
        max-width: 25rem;
        vertical-align: top;

    }

    .amount-desc {
        text-align: center;
    }


    .donate-btn:focus {
        outline: none;

    }

    #donationAmounts {
        width: 100%;
        position: relative;
        top: 25;
    }
}
