
 .donation-type-button {
    background: #29a0cc;
    padding: 4rem;
    font-size: 2rem;
    
}

.donation-type-text{
    font-size: 1.75rem !important;

}

.donation-type-button:active {
    background: #29a0cc !important;
    opacity: .8;
}
.donation-type-button:hover{
    background: #29a0cc;
    opacity: .8;
}

#donation-type-form{
    position: relative;
    top:20;
}

#recurring-donation{
    position: relative;
    top: 15;
}
@media (min-width: 40rem) {
   
}